@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.create-memory-page {
  background-color: #d4b4f4;
  min-height: 100vh;
}

.create-memory-title {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 3rem;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  background-color: #fcff6a;
  padding: 1rem 0;
  border: 3px solid black;
}
.create-memory-content {
  display: flex;
  gap: 20px;
}

.left-panel {
  width: 55%;
  padding: 10px;
  margin: 10px;
}
.text-area {
  width: 100%;
  height: auto;
  min-height: 30em;
  resize: none;
  padding: 2rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
}

.generate-button {
  padding: 20px;
  margin: 1rem;
  background-color: #b384e1;
  color: black;
  border: 3px solid black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.2em;
  font-weight: 600;
}
.right-panel {
  width: 45%;
  padding: 10px;
  margin: 10px;
  height: 200px;
  margin-top: 10px;
  height: auto;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.placeholder {
  width: 80%;
  padding: 2rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin: 0 auto;
}
.summary-text-area {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 2rem;
  line-height: 1rem;
  padding: 3rem;
  cursor: default;
  outline: none;
  background-color: #d9d9d9;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2rem;
}

.generated-image {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.button-container {
  width: 100%;
  text-align: center;
}

.save-button,
.cancel-button {
  padding: 10px;
  margin: 0.5rem;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1em;
  font-weight: 400;
}
.save-button {
  background-color: #fcff6a;
}
.cancel-button {
  background-color: #b384e1;
}

@media only screen and (max-width: 768px) {
  .create-memory-content {
    display: flex;
    flex-direction: column;
  }
  .left-panel {
    width: 90%;
    margin: 0.4rem;
  }

  .text-area {
    min-height: 35em;
    font-size: 1.3em;
  }

  .right-panel {
    width: 95%;
    margin-top: 5px;
  }

  .summary-text-area {
    padding: 2rem;
    line-height: 1.2rem;
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
}
