@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.main-home {
  background-image: url(../images/bg1.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.home-title{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 6rem;
    width:40%;
    padding: 4rem; 
}

.home-subtitle{
    font-family: "ABeeZee", sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    width:30%;
    padding: 2rem; 
    margin: 0 4rem;
}


.home-button {
    padding: 20px;
    margin: 1rem;
    background-color: #B384E1;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1em;
  }
  
  .home-button:hover {
    background-color: #a368df;
  }

  .home-buttons{
    width:30%;
    margin-right: auto;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
  }