* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
  }

.main-login{
    background-image: url(../images/bg2purple.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
  .main-login{
      padding: 10rem 0;
  }
}