/* .user-albums-page {
    padding: 20px;
    background-color: #d4b4f4;
    min-height: 100vh;
    padding-top: 0.5rem;
}

.user-albums-title{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 3rem;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    background-color: #fcff6a;
    padding: 1rem 0;
    border: 3px solid black;
}
.albums {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    background-color: #fdff6a;
    height: 80%;
    margin: 2rem;
}

.album h2 {
    margin: 0;
} */
.user-albums-page {
    padding: 20px;
    background-color: #d4b4f4;
    min-height: 100vh;
    padding-top: 0.5rem;
}

.user-albums-title {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 3rem;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    background-color: #fcff6a;
    padding: 1rem 0;
    border: 3px solid black;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.album {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    background-color: #fdff6a;
    margin: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.album:hover {
    transform: scale(1.05);
}

.album-title {
    font-family: "ABeeZee", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
